* {
    font-size: 28px;
}

.task-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-task-form{
    display: flex;
    flex-direction: column;
}

.tasks-section{
    display:flex;
    flex-direction:column;
}

.filter-box {
    display: flex;
    flex-direction: column;
}